/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
svg {
  height: 1.5rem;
  width: 1.5rem;
}
/* CSS Flexbox */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-grow {
  flex-grow: 1;
}
.mx-auto {
  margin: 0 auto;
}
.w-auto {
  width: auto;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.666667%;
}
.col-10 {
  width: 83.333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.666667%;
}
.col-7 {
  width: 58.333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.666667%;
}
.col-4 {
  width: 33.333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.666667%;
}
.col-1 {
  width: 8.333333%;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}

.black {
  background-color: black;
}
.blue {
  background-color: aqua;
}
.green {
  background-color: greenyellow;
}
.yellow {
  background-color: yellow;
}
.pink {
  background-color: pink;
}
.purple {
  background-color: blueviolet;
}
.box {
  border: 1px solid black;
}
