/* CSS Reset */

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
/* CSS Flexbox */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.mx-auto {
  margin: 0 auto;
}
.w-auto {
  width: auto;
}
.w-full {
  width: 100%;
}
.w-half {
  width: 50%;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
